@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');
// Файл обнуляющих стилей
@import "_nullstyle";

body {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	width: 55%;
	margin: 0 auto;
}

.header {
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 7% 0;
	margin-bottom: 10px;
	max-width: 100%;
	overflow: hidden;

	&__content {
		display: grid;
		grid-template: 1fr/ repeat(auto-fit, minmax(180px,1fr));
		justify-content: center;
		column-gap: 10%; 
		row-gap: 5%; 
	}

	.start {
		background: #fff;
		padding: 15px;
		min-width: 180px; 
		max-width: 350px;
		justify-self: center;

		&__title {
			font-family: 'Open Sans', sans-serif;
			font-size: 0.85em;
			line-height: 135%;
			letter-spacing: 1;
			text-align: center;
			margin-bottom: 15px;
		}

		&__text {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.55em;
			line-height: 135%;
			text-align: center;
			margin-bottom: 30px;
		}

		.form__input {
			width: 100%;
			padding: 8px;
			border: 1px solid #dadada;
			margin-bottom: 15px;
		}

		.form__button {
			display: block;
			padding: 10px 15px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 0.55em;
			line-height: 135%;
			color: #fff;
			background: #FF6600;
			margin: 15px auto;
			cursor: pointer;
		}
	}

	.income__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 1.3em;
		line-height: 125%;
		color: #fff;
		margin-bottom: 15px;
	}

	.income__text_red {
		display: inline;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.75em;
		line-height: 145%;
		color: #fff;
		background-color: #FF0000;
	}

	.income {
		min-width: 300px;
	}

	.income__text {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.75em;
		line-height: 145%;
		color: #fff;
		margin-top: 35px;
		margin-bottom: 15px;

		&_orange {
			background-color: #ff6e0ee0;
		}
	}

	.countdown {
		display: flex;
		justify-content: center;
		align-items: center;

		.time-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-family: 'Open Sans', sans-serif;
			padding: 0 30px;
			background-image: linear-gradient(#fff 18%, rgba(255,255,255,0) 0%);
			background-position: right;
			background-size: 5% 50%;
			background-repeat: repeat-y;
		}

		.time-section:last-child {
			background: none;
		}

		.count {
			font-size: 2.5em;
		}

		.units {
			font-size: 0.5em;
		}
	}
}

.strategy__content {
	margin: 0 auto;
	padding: 2.5em 0;

	.strategy__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		line-height: 350%;
		letter-spacing: 1.4;
		color: #000;
		text-align: center;
		position: relative;
	}

	.strategy__title:after {
		content:"";
      position:absolute;
      bottom:0;
      left:46%;
      width:8%;
      height:3px;
      background:#00A4E5;
	}

	.about {
		display: grid;
		grid-template: 1fr/ repeat(auto-fit, minmax(170px, 1fr));
		justify-content: center;
		column-gap: 1.4em;
		row-gap: 1.5em;
		padding: 2.5em 0;

		&__item {
			text-align: center;
		}

		&__title {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 0.62em;
			line-height: 125%;
			margin-top: 20px;
		}

		&__text {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.6em;
			line-height: 145%;
			margin-top: 15px;
		}
	}
}

.mentor__content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	.mentor__img {
		min-width: 290px;
		max-width: 59%;
		padding: 10px;
		margin: 0 auto;

		.mentor__image {
			width: 100%;
		}
	}

	.mentor__desc {
		max-width: 38%;
		min-width: 250px;
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin: 0 auto;
	}

	.mentor__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.8em;
		line-height: 110%;
		letter-spacing: 1.2;
		color: #000;
		position: relative;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.mentor__title::after {
		content:"";
		position:absolute;
		bottom:0;
		left:0;
		width:28%;
		height:3px;
		background:#00A4E5;
	}

	.mentor__item {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.62em;
		line-height: 110%;
		letter-spacing: 1;
		color: #000;
		margin-bottom: 0.6em;
	}
	.mentor__item::before {
		content: "\2714";
		margin-right: 10px;
	}

	.mentor__button {
		align-self: center;
		margin-top: 15px;
	}

	.mentor__link {
		padding: 10px 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.55em;
		line-height: 125%;
		color: #fff;
		background: #FF6600;
	}
}

.choice__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.9em;
	line-height: 350%;
	letter-spacing: 1.4;
	color: #000;
	text-align: center;
	position: relative;
	margin-top: 50px;
}

.choice__title:after {
	content:"";
	position:absolute;
	bottom:0;
	left:46%;
	width:8%;
	height:3px;
	background:#00A4E5;
}

.choice__table {
	display: grid;
	grid-template: repeat(2, 1fr)/ repeat(auto-fit, minmax(235px, 240px));
	justify-content: center;
	column-gap: 1.7em;
	row-gap: 1.5em;
	padding: 20px;
	margin-top: 2em;

	.item {
		background: #e6e6e6;
		text-align: center;
		padding: 20px;
		min-width: 200px;

		&__title {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 0.8em;
			line-height: 125%;
			color: #000;
			margin: 15px 0;
		}

		&__text {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.65em;
			line-height: 115%;
			color: #000;
		}
	}
}

.choice__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.8em;
}

.choice__link {
	padding: 10px 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 0.55em;
	line-height: 125%;
	color: #fff;
	background: #FF6600;
}

.reviews__content {
	padding: 4em 0;

	.reviews__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		line-height: 350%;
		letter-spacing: 1.4;
		color: #000;
		text-align: center;
		position: relative;
		margin-top: 50px;
	}
	.reviews__title:after {
		content:"";
		position:absolute;
		bottom:0;
		left:46%;
		width:8%;
		height:3px;
		background:#00A4E5;
	}

	.reviews__partners {
		display: grid;
		grid-template: repeat(1, 1fr)/ repeat(auto-fit, minmax(230px, 240px));
		justify-content: center;
		column-gap: 1.7em;
		row-gap: 1.5em;
		padding: 20px;
		margin-top: 30px;

		.reviews__text {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.7em;
			line-height: 120%;
			letter-spacing: 1.1;
			color: #000;
			font-style: italic;
		}

		.name {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-size: 0.7em;
			line-height: 100%;
			letter-spacing: 1.1;
			color: #000;
			margin-top: 15px;
		}

		.time {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.6em;
			line-height: 100%;
			letter-spacing: 1.1;
			color: #000;
		}
	}

	.reviews__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1.8em;
	}
	
	.reviews__link {
		padding: 10px 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 0.55em;
		line-height: 125%;
		color: #fff;
		background: #FF6600;
	}
}

.footer {
	background: url('../img/town.png') 0 0/ 100% 101% no-repeat;
	padding: 4em 0;

	&__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 1.2em;
		line-height: 100%;
		letter-spacing: 1.1;
		text-align: center;
		padding: 10px;
	}

	&__text {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.7em;
		line-height: 120%;
		letter-spacing: 1.1;
		text-align: center;
		margin-bottom: 3em;
	}

	.data {
		display: grid;
		grid-template: repeat(2,1fr)/ repeat(auto-fit, minmax(142px, 260px));
		justify-content: center;
		column-gap: 1em;
		row-gap: 20px;

		.data__input {
			padding: 10px 15px;
			min-width: 142px;
			background: none;
			border: 2px solid #a0a0a0;
		}

		.data__button {
			display: block;
			padding: 10px 15px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 0.55em;
			line-height: 135%;
			color: #fff;
			background: #FF6600;
			width: 100px;
			grid-row: 2 / 3;
			grid-column: 1 / 4;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}

.copyright {
	background: #2b2b2b;
	padding: 25px;
	text-align: center;

	&__text {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 0.55em;
		line-height: 135%;
		color: #fff;
	}
}